.chores {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3vw;
    color:blueviolet;
}

h3 {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

ul {
    font-style: italic;
}