.chores {
    color: #ff4f33;
}

.doneChores {
    color: #3c79b8;
}

#workHarder {
    color: green;
}

h3 {
    text-align: center;
}

.howToEarn {
    color:aqua;
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}